trigger: none
parameters:
  - name: SlotName
    type: string
    default: 20210316
    values:
    - 20210316
    - 20210317

pr: none

variables:
  #  # Service connection as configured in project settings
  prodConnection: 'hieunv-webapp-connection'
  #  # App name
  prodApp: 'hieunv-calc'

stages:
  - stage: build
    displayName: 'Build'
    jobs:
      - job: build_test
        displayName: 'Build and test'
        pool:
          vmImage: 'Ubuntu-16.04'
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: '10.x'
            displayName: 'Install Node.js'
          - script: |
              npm install
              npm run build
              npm run test
            displayName: 'npm install, build, and test'
          - task: ArchiveFiles@2
            inputs:
              rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
              includeRootFolder: false
              archiveType: zip
              archiveFile: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
              replaceExistingArchive: true
          - task: PublishBuildArtifacts@1
            inputs:
              ArtifactName: 'drop'

  - stage: deploy_slot
    dependsOn: build
    displayName: 'deploy_slot'
    jobs:
      - job: deploy_slot
        displayName: 'Build and test'
        pool:
          vmImage: 'Ubuntu-16.04'
        steps:
        - checkout: none
        - task: DownloadBuildArtifacts@0
          inputs:
            buildType: 'current'
            downloadType: 'single'
            artifactName: 'drop'
            downloadPath: '$(System.ArtifactsDirectory)'
            
        - task: AzureWebApp@1
          inputs:
            azureSubscription: $(prodConnection)
            appType: 'webAppLinux'
            appName: $(prodApp)
            runtimeStack: 'NODE|10.1'
            startUpCommand: 'npm run start'
            package: $(System.ArtifactsDirectory)/**/*.zip
            slotName: ${{ parameters.SlotName }}

      - job: waitForValidation
        dependsOn: 'deploy_slot'
        pool: server
        displayName: 'Approve to swap'
        timeoutInMinutes: 4320 # job times out in 3 days
        steps:
        - task: ManualValidation@0
          timeoutInMinutes: 1440 # task times out in 1 day
          inputs:
            notifyUsers: |
              test@test.com
              example@example.com
            instructions: 'Please validate the build configuration and resume'
            onTimeout: 'reject'

      - job: 'swap_to_new_slot'
        dependsOn: 'waitForValidation'
        displayName: 'Swap to new slot'
        pool:
          vmImage: 'Ubuntu-16.04'
        steps:
          - checkout: none
          - task: AzureAppServiceManage@0
            inputs:
              azureSubscription: $(prodConnection)
              action: 'Swap Slots'
              webAppName: 'hieunv-calc'
              sourceSlot: ${{ parameters.SlotName }}
              swapWithProduction: true
              slot: 'production'