trigger:
  - master

pr: none

variables:
  #  # Service connection as configured in project settings
  prodConnection: 'hieunv-webapp-connection'
  SlotName: '20210316'
  #  # App name
  prodApp: 'hieunv-calc'

stages:
  - stage: build
    displayName: 'Build'
    jobs:
      - job: build_test
        displayName: 'Build and test'
        pool:
          vmImage: 'Ubuntu-16.04'
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: '10.x'
            displayName: 'Install Node.js'
          - script: |
              npm install
              npm run build
              npm run test
            displayName: 'npm install, build, and test'
          - task: ArchiveFiles@2
            inputs:
              rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
              includeRootFolder: false
              archiveType: zip
              archiveFile: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
              replaceExistingArchive: true

          - upload: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
            artifact: drop

  - stage: deploy_slot
    displayName: 'deploy_slot'
    jobs:
      - job: deploy_slot
        displayName: 'Build and test'
        pool:
          vmImage: 'Ubuntu-16.04'
        steps:
        - task: AzureWebApp@1
          inputs:
            azureSubscription: $(prodConnection)
            appType: 'webAppLinux'
            appName: $(prodApp)
            runtimeStack: 'NODE|10.1'
            startUpCommand: 'npm run start'
            package: $(Pipeline.Workspace)/drop/$(Build.BuildId).zip
            slotName: $(SlotName)

      - job: waitForValidation
        pool: server
        displayName: 'Approve to swap'
        timeoutInMinutes: 4320 # job times out in 3 days
        steps:
        - task: ManualValidation@0
          timeoutInMinutes: 1440 # task times out in 1 day
          inputs:
            notifyUsers: |
              test@test.com
              example@example.com
            instructions: 'Please validate the build configuration and resume'
            onTimeout: 'resume'

      - job: 'swap-to-new-slot'
        displayName: 'Swap to new slot'
        pool:
          vmImage: 'Ubuntu-16.04'
        steps:
          - task: AzureAppServiceManage@0
              inputs:
                azureSubscription: 'Microsoft Partner Network (16ba3077-7489-4b0f-a4d4-82093fb7c814)'
                action: 'Swap Slots'
                webAppName: 'hieunv-calc'
                sourceSlot: $(SlotName)
                swapWithProduction: true
                slot: 'production'
